body {
  margin: 0;
  padding: 0;
}

.top-level-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

#main-container {
  height: 80%;
  width: 80%;
  background-color: hsl(212, 45%, 89%);
  /* making it flexbox for its children */

  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code-scanner {
  /* height: 50%; */
  width: 18%;
  border-radius: 20px;
  background-color: white;
  /* making it a flexbox, flex-direction -> coloum */
  display: flex;
  flex-direction: column;
}

#img1 {
  padding: 10px;
  border-radius: 20px;
}

.heading {
    font-family: 'Outfit', sans-serif;
  margin-left: 2px;
}

.para {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  /* text color */
  color:gray;
  margin-left: 2px;
}

/* To center each of the text elements */
.flex-div{
    display: flex;
    justify-content: center;
}
/* Define the  width of text-elements */
.text-element{
    width: 83%;
}
